@model CVprojectGroup38.Models.UserClass

@{
    ViewBag.Title = "User Details1";
}

<div style="font-family:Arial">

<h2>User Details1</h2>

<table>
    <tr>
        <td>
            User name:
        </td>
        <td>
            @Model.UserName
        </td>
    </tr>
    <tr>
        <td>
            User password:
        </td>
        <td>
            @Model.UserPassword
        </td>
    </tr>
</table>

@Html.ActionLink("Back to List", "Index1")

</div>



<div>
    <h4>UserClass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPassword)
        </dd>

    </dl>
</div>

@Html.ActionLink("Back to List", "Index1");
